/* ::root{ */
/*     --accent: #b75a75; */
/*     --dark: #1d2021; */
/*     --light: #d9c7a6; */
/*     --ld: 85ab94; */
/*     --dl: 44848c; */
/*     --white: white; */
/* } */

*{
    font-family: monospace;
}

window {
    background-color: #1d2021;
	border-radius : 4;
}

#input {
    margin: 2px;
    border-radius: 2px;
    border: none;
	border-color: #b75a75;
    border-bottom: 3px solid #b75a75;
    background-color: #1d2021;
    color: #d9c7a6;
	outline: none;
}

*:focus {
	outline: none;
}

#inner-box {
    background-color: #1d2021;

}

#outer-box {
    margin: 2px;
    padding: 5px;
    background-color: #1d2021;
}

#scroll {
	background-color: #1d2021;
	color: #d9c7a6;
}


#text {
padding: 5px;
color: #d9c7a6;
}

#entry:nth-child(even){
    background-color: #1d2021;
}

#entry:selected {
    background-color: #85ab94;
	color: #1d2021;
	border-radius: 4;
}

#text:selected {
	color: #1d2021;
}
