/* ::root{ */
/*     --accent: #b75a75; */
/*     --dark: #0D232A; */
/*     --light: #BEC3CC; */
/*     --ld: 85ab94; */
/*     --dl: 44848c; */
/*     --white: white; */
/* } */

*{
    font-family: monospace;
}

window {
    background-color: #0D232A;
	border-radius : 4;
}

#input {
    margin: 2px;
    border-radius: 2px;
    border: none;
	  border-color: #6AA280;
    border-bottom: 3px solid #6AA280;
    background-color: #0D232A;
    color: #BEC3CC;
	outline: none;
}

*:focus {
	outline: none;
}

#inner-box {
    background-color: #0D232A;

}

#outer-box {
    margin: 2px;
    padding: 5px;
    background-color: #0D232A;
}

#scroll {
	background-color: #0D232A;
	color: #BEC3CC;
}


#text {
padding: 5px;
color: #BEC3CC;
}

#entry:nth-child(even){
    background-color: #0D232A;
}

#entry:selected {
    background-color: #6AA280;
	color: #0D232A;
	border-radius: 4;
}

#text:selected {
	color: #0D232A;
}
